.o-modal {
  position: absolute;
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.m-card {
  background-color: var(--light);
  min-width: 20em;
  max-width: 95%;
  width: 50%;
  border-radius: 2px;
  padding: 2em;
}

.m-card * {
  color: var(--dark);
}

.a-list {
  list-style: none;
  padding: 0;
}

.a-list__item {
  margin: 1em;
}
