.o-modal {
  position: absolute;
  background-color: #0000008D;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.m-card {
  background-color: var(--light);
  border-radius: 2px;
  padding: 2em;
  box-shadow: 8px 8px 10px -8px black;
  margin: 15%;
  flex: 1;
  position: relative;
}

.m-card .a-close {
  color: #919191;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0;
  background-color: #ececec;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.a-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.a-list__item {
  margin: 1em;
}
