.m-dice {
  display: flex;
}

.a-dice__roll {
  display: flex;
}

.a-dice__faces,
.a-dice__value {
  padding: 1em;
}

.a-dice__remove {
  color: white;
  background-color: #0000004d;
}

.-dice-4 {
  background-color: pink;
}

.-dice-6 {
  background-color: blue;
  color: white;
}

.-dice-10 {
  background-color: yellow;
}

.-dice-20 {
  background-color: green;
}
