/* common */
.a-button {
  border: 0;
  background-color: transparent;
  padding: 1em 2em;
  cursor: pointer;
}

.a-button.-outlined {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
}

.a-button.-color {
  background: linear-gradient(to right, #6d327c, #485DA6, #00a1ba, #36C486);
  font-size: 1.5em;
  text-transform: uppercase;
}

.-bg_primary {
  color: var(--light);
  background-color: var(--primary);
}

.-bg_secondary {
  color: var(--light);
  background-color: var(--secondary);
}

/* App */
.o-app {
  display: grid;
  flex: 1;
  text-align: center;
  background: var(--light);
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "substract total"
    "dices dices"
    "actions actions"
  ;
  grid-template-rows:
    minmax(min-content, max-content)
    auto
    minmax(min-content, max-content)
  ;
}

.m-actions {
  grid-area: actions;
}

.a-actions__mainAction {
  width: 100%;
}

.m-actions__secondaryActions {
  display: flex;
  justify-content: space-between;
}

.m-stats__total {
  grid-column: 1;
  grid-area: total;
}

.m-stats__substract {
  grid-column: 2;
  grid-area: substract;
}

.m-stats .-inactive {
  opacity: .5;
}

.a-stats__label {
  font-size: .8em;
  padding: 1em;
}

.a-stats__value {
  font-size: 3em;
  font-weight: 600;
  padding: 0 .3em .3em;
}

.m-dices {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-area: dices;
  padding: 2em;
}

.m-dices__dice {
  margin: 1em;
}
