:root {
  --primary: #6d327c;
  --secondary: #008094;
  --light: #fff;
  --dark: #000000;
}

body {
  display: flex;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* from: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  flex: 1;
  display: flex;
  background-color: #efefef;
  overflow: hidden;
}

* {
  color: var(--dark);
}
